#!/bin/sh

if [ -e /run/systemd/system ] ; then
    exit 0
fi

socksd()
{
    case "$1" in
        start)
            socksd
            ;;
        stop|restart|reload|force-reload)
	    killall socksd
	    socksd
            ;;
        *)
            return 1
            ;;
    esac
}

socksd "$@"

