[Unit]
Description=socksd service
After=network.target
                                                                                                                                                                                              
[Service]                                                                                                                                                                                     TType=simple                                                                                                                                                                                    RemainAfterExit=yes                                                                                                                                                                            
ExecStart=/usr/bin/socksd 0.0.0.0 1337
ExecStop=killall socksd

[Install]
WantedBy=multi-user.target
